@import url(./fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,900");
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer; }

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out; }

img {
  display: block; }

input,
textarea {
  width: 100%;
  height: 100%; }

textarea {
  resize: none; }

/*@font-face {
  font-family: 'Raleway Regular';
  src: url('../../../fonts/Raleway-Regular/Raleway-Regular.eot');
  src: url('../../../fonts/Raleway-Regular/Raleway-Regular.eot') format('eot'),
  url('../../../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'),
  url('../../../fonts/Raleway-Regular/Raleway-Regular.woff2') format('woff2'),
  url('../../../fonts/Raleway-Regular/Raleway-Regular.otf') format('otf'),
  url('../../../fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body {
  font-size: 18px;
  min-width: 320px;
  overflow-x: hidden;
  width: 100%; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  font-family: 'Open Sans', sans-serif;
  z-index: 2000; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__title {
    font-size: 42px;
    font-weight: bold; }
    .header__title a {
      color: #e10011; }
    .header__title span {
      font-size: 30px; }
  .header__nav {
    width: 690px;
    display: flex;
    justify-content: space-between;
    font-size: 18px; }
    .header__nav a {
      color: #fff; }
  .header__text {
    position: absolute;
    color: #fff;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center; }
    .header__text-title {
      font-family: 'Lato', sans-serif;
      font-size: 60px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .header__text-subtitle1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 8px;
      margin-bottom: 20px; }
    .header__text-subtitle2 {
      font-family: 'Open Sans', sans-serif;
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .header__text a {
      display: block;
      margin: 0 auto;
      color: #fff;
      width: 200px;
      height: 60px;
      border: 1px solid #fff;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      padding-top: 18px;
      font-weight: 900; }

.main {
  width: 100%;
  height: 100%; }

.gray-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #303030;
  opacity: .4;
  bottom: 5px;
  left: 0; }

.slider .slider__item {
  width: 100%;
  height: 100%; }

.slider .slider__item img {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 2000;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.slider .slick-dots li {
  list-style: none;
  margin: 0 5px; }

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 2px solid #fff;
  width: 15px;
  height: 15px;
  outline: none; }

.slider .slick-dots button {
  font-size: 0;
  border: 1px solid #333;
  background-color: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%; }

/*@media (max-width: 767px) {
     margin-top: 30px;
     margin-left: 20px;
   }
   @media (max-width: 480px) {
     margin-top: 30px;
     margin-left: 20px;
   }
   @media (max-width: 320px) {
     margin-top: 30px;
     margin-left: 40px;
     margin-bottom: 20px;
   }*/
.products {
  width: 100%;
  height: auto;
  padding-bottom: 60px; }
  .products__title {
    margin: 78px 0;
    text-align: center;
    position: relative;
    font-size: 40px;
    font-family: "Open Sans";
    font-weight: 300;
    font-style: italic; }
    .products__title:before {
      position: absolute;
      content: "";
      width: 114px;
      height: 2px;
      background: #e10011;
      top: -30px;
      left: calc(50% - 57px); }
    .products__title:after {
      position: absolute;
      content: "";
      width: 114px;
      height: 2px;
      background: #e10011;
      bottom: -30px;
      left: calc(50% - 57px); }
  .products__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 868px;
    align-content: space-between; }
  .products__item {
    position: relative;
    max-width: 100%; }
    .products__item img {
      width: 100%;
      height: auto;
      object-fit: cover; }
  .products__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .products__overlay:hover {
      background: rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-in-out; }
  .products__overlay1 span {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-style: italic; }
  .products__overlay1:after {
    position: absolute;
    content: "";
    width: 314px;
    height: 354px;
    border: 2px solid #fff;
    top: 30px;
    left: 30px; }
  .products__item-title1 {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    position: relative; }
    .products__item-title1:before {
      position: absolute;
      content: "";
      width: 200px;
      height: 1px;
      background: #777;
      top: -30px;
      left: calc(50% - 100px); }
    .products__item-title1:after {
      position: absolute;
      content: "";
      width: 200px;
      height: 1px;
      background: #777;
      bottom: -30px;
      left: calc(50% - 100px); }
  .products__item-title2 {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    position: relative; }
    .products__item-title2:before {
      position: absolute;
      content: "";
      width: 200px;
      height: 1px;
      background: #777;
      top: -30px;
      left: calc(50% - 100px); }
    .products__item-title2:after {
      position: absolute;
      content: "";
      width: 200px;
      height: 1px;
      background: #777;
      bottom: -30px;
      left: calc(50% - 100px); }

.trending {
  background: url("./../img/bg.jpg");
  padding: 90px 0 130px; }
  .trending__title {
    text-align: center;
    position: relative;
    margin-bottom: 90px;
    font-size: 40px;
    font-family: "Open Sans";
    font-weight: 300;
    font-style: italic; }
    .trending__title:before {
      position: absolute;
      content: "";
      width: 114px;
      height: 2px;
      background: #e10011;
      top: -30px;
      left: calc(50% - 57px); }
    .trending__title:after {
      position: absolute;
      content: "";
      width: 114px;
      height: 2px;
      background: #e10011;
      bottom: -30px;
      left: calc(50% - 57px); }

.slider2__item {
  width: 100%; }
.slider2__item-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%; }
.slider2__img {
  width: 570px; }
  .slider2__img img {
    object-fit: cover;
    width: 100%;
    height: auto; }
.slider2__info {
  max-width: 570px;
  font-family: 'Lato', sans-serif; }
  .slider2__info-title {
    font-size: 30px;
    text-transform: uppercase;
    color: #e10011;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 25px; }
  .slider2__info-subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #777;
    margin-bottom: 50px;
    position: relative;
    text-transform: capitalize; }
    .slider2__info-subtitle:after {
      position: absolute;
      content: "";
      width: 30px;
      height: 1px;
      bottom: -25px;
      left: 0;
      background: #303030; }
  .slider2__info-text {
    font-size: 18px;
    color: #777;
    line-height: 25px;
    margin-bottom: 30px; }
    .slider2__info-text span {
      text-transform: uppercase; }
.slider2__btn {
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent; }
  .slider2__btn:hover {
    background: #303030;
    color: #fff; }
  .slider2__btn-size1 {
    width: 70px;
    height: 50px; }
  .slider2__btn-size2 {
    width: 170px;
    height: 50px; }
  .slider2__btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 372px;
    height: 134px;
    margin-top: 90px; }

.slider2 .slider2__item {
  width: 100%;
  height: 100%; }

.slider2 .slider2__item img {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.slider2 .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 2000;
  left: 50%;
  bottom: -13%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.slider2 .slick-dots li {
  list-style: none;
  margin: 0 5px; }

.slider2 .slick-dots li.slick-active button {
  background-color: transparent;
  border: 2px solid #e10011;
  width: 15px;
  height: 15px;
  outline: none; }

.slider2 .slick-dots button {
  font-size: 0;
  background-color: #777;
  border: 1px solid #777;
  width: 12px;
  height: 12px;
  border-radius: 50%; }

.blog {
  width: 100%;
  height: 1048px;
  padding-top: 78px; }
  .blog__title {
    text-align: center;
    position: relative;
    margin-bottom: 90px;
    font-size: 40px;
    font-family: "Open Sans";
    font-weight: 300;
    font-style: italic; }
    .blog__title:before {
      position: absolute;
      content: "";
      width: 114px;
      height: 2px;
      background: #e10011;
      top: -30px;
      left: calc(50% - 57px); }
    .blog__title:after {
      position: absolute;
      content: "";
      width: 114px;
      height: 2px;
      background: #e10011;
      bottom: -30px;
      left: calc(50% - 57px); }

.slider3__item {
  max-width: 570px;
  height: 760px; }
.slider3__item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }
.slider3__title {
  color: red;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: bold; }
.slider3__subtitle {
  color: #777;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-size: 16px; }
.slider3__text {
  font-family: 'Open Sans', sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  padding: 26px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
.slider3__link {
  width: 170px;
  height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border: 1px solid #303030;
  color: #303030;
  text-align: center;
  padding-top: 14px;
  background-color: #fff;
  color: #303030; }
  .slider3__link:hover {
    background-color: #303030;
    color: #fff; }

.slider3 .slider3__item img {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.slider3 .slick-arrow {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  outline: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 40px;
  z-index: 10; }

.slider3 .slick-arrow:hover {
  color: #303030; }

.slider3 .slick-prev {
  left: -60px; }

.slider3 .slick-next {
  right: -50px; }

.fa-chevron-left, .fa-chevron-right {
  color: #777; }
  .fa-chevron-left:hover, .fa-chevron-right:hover {
    color: #303030; }

.subscribe {
  background: url("./../img/img10.jpg") center no-repeat;
  width: 100%;
  height: 250px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px; }
  .subscribe__wrapper {
    width: 100%;
    height: 250px;
    background: rgba(0, 0, 0, 0.6); }
  .subscribe__title {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .subscribe__input-wrapper {
    width: 770px;
    height: 50px;
    position: relative; }
    .subscribe__input-wrapper input {
      padding: 0 84px;
      width: 100%;
      background: transparent;
      border: 1px solid #fff;
      outline: none;
      color: #fff; }
  .subscribe__flex-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 70px; }
  .subscribe__btn {
    width: 270px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #303030;
    background-color: #fff;
    color: #303030; }
    .subscribe__btn:hover {
      background-color: #303030;
      color: #fff; }
  .subscribe__input-icon {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 25px; }

.footer {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  font-family: 'Lato', sans-serif;
  font-size: 18px; }
  .footer__link {
    color: #777; }
    .footer__link:hover {
      color: #303030; }
  .footer .fas {
    color: #e10011; }

/*# sourceMappingURL=main.css.map */
