@font-face {
  font-family: 'Myriad Pro';
  src: url('../../../fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
  src: url('../../../fonts/MyriadPro-Regular/MyriadPro-Regular.eot') format('eot'),
  url('../../../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
  url('../../../fonts/MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2'),
  url('../../../fonts/MyriadPro-Regular/MyriadPro-Regular.otf') format('otf'),
  url('../../../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto-Regular/Roboto-Regular.eot');
  src: url('../../../fonts/Roboto-Regular/Roboto-Regular.eot') format('eot'),
  url('../../../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
  url('../../../fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
  url('../../../fonts/Roboto-Regular/Roboto-Regular.otf') format('otf'),
  url('../../../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/