*,
*:before,
*:after {
  box-sizing: border-box;
}

.checker-field {
  width: 600px;
  height: 600px;
  background-color: #EACCA6;
  border: 20px solid #7C5C35; 
}

.board__square {
  width: 70px;
  height: 70px;
  position: relative;
  float: left;
}

.square__black {
  background-color: black;
}

.checker-brown:after,
.checker-white:after {
  position: absolute;
  content: "";
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 10%;
  left: 10%;
}

.checker-brown:after {
  background: #7C5C35;
}

.checker-white:after {
  background: #EEF9E9;
}
