$green: #19bd9a;
$lightGray: #f3f3f3;
$textGray: #81868e;
$black: #333b46;
$facebookBlue: #3b5998;
$twitterBlue: #26a6d1;
$linkedinBlue: #0e76a8;
$instagramBlue: #3f729b;
$vimeoBlue: #86c9ef;
$headerBrown: #7A674D;

$red: #e10011;
$gray: #979797;
$white: #fff;