@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,900');

body {
  font-size: 18px;
  min-width: 320px;
  overflow-x: hidden;
  //color: $white;
  //background-color: $lightGray;
  width: 100%;
 
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
