body {
  //font-size: 18px;
  min-width: 320px;
  overflow-x: hidden;
  //color: $white;
  //background-color: $lightGray;
 
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
