@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans:400,700|Poppins:400,700');


body {
  //font-size: 18px;
  min-width: 320px;
  overflow-x: hidden;
  //color: $white;
  //background-color: $lightGray;
 
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
