@font-face {
  font-family: 'Segoe Script';
  src: url('../../../webfonts/segoesc.eot');
  src: url('../../../webfonts/segoesc.eot') format('eot'),
  url('../../../webfonts/SegoeScript.woff') format('woff'),
  url('../../../webfonts/segoesc.woff2') format('woff2'),
  url('../../../webfonts/SegoeScript.otf') format('otf'),
  url('../../../webfonts/segoesc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}