@font-face {
  font-family: 'Raleway Regular';
  src: url('../../../fonts/Raleway-Regular/Raleway-Regular.eot');
  src: url('../../../fonts/Raleway-Regular/Raleway-Regular.eot') format('eot'),
  url('../../../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'),
  url('../../../fonts/Raleway-Regular/Raleway-Regular.woff2') format('woff2'),
  url('../../../fonts/Raleway-Regular/Raleway-Regular.otf') format('otf'),
  url('../../../fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

  font-family: 'Raleway Black';
  src: url('../../../fonts/Raleway-Black/Raleway-Black.eot');
  src: url('../../../fonts/Raleway-Black/Raleway-Black.eot') format('eot'),
  url('../../../fonts/Raleway-Black/Raleway-Black.woff') format('woff'),
  url('../../../fonts/Raleway-Black/Raleway-Black.woff2') format('woff2'),
  url('../../../fonts/Raleway-Black/Raleway-Black.otf') format('otf'),
  url('../../../fonts/Raleway-Black/Raleway-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

  font-family: 'Raleway SemiBold';
  src: url('../../../fonts/Raleway-SemiBold-Italic/Raleway-SemiBold-Italic.eot');
  src: url('../../../fonts/Raleway-SemiBold-Italic/Raleway-SemiBold-Italic.eot') format('eot'),
  url('../../../fonts/Raleway-SemiBold-Italic/Raleway-SemiBoldItalic.woff') format('woff'),
  url('../../../fonts/Raleway-SemiBold-Italic/Raleway-SemiBold-Italic.woff2') format('woff2'),
  url('../../../fonts/Raleway-SemiBold-Italic/Raleway-SemiBoldItalic.otf') format('otf'),
  url('../../../fonts/Raleway-SemiBold-Italic/Raleway-SemiBold-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;

  font-family: 'Roboto Black';
  src: url('../../../fonts/Roboto Black/Roboto-Black.eot');
  src: url('../../../fonts/Roboto Black/Roboto-Black.eot') format('eot'),
  url('../../../fonts/Roboto Black/Roboto-Black.woff') format('woff'),
  url('../../../fonts/Roboto Black/Roboto-Black.woff2') format('woff2'),
  url('../../../fonts/Roboto Black/Roboto-Black.otf') format('otf'),
  url('../../../fonts/Roboto Black/Roboto-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

  font-family: 'MyriadPro';
  src: url('../../../fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
  src: url('../../../fonts/MyriadPro-Regular/MyriadPro-Regular.eot') format('eot'),
  url('../../../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
  url('../../../fonts/MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2'),
  url('../../../fonts/MyriadPro-Regular/MyriadPro-Regular.otf') format('otf'),
  url('../../../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

  font-family: 'Roboto Bold';
  src: url('../../../fonts/Roboto Bold/Roboto-Bold.eot');
  src: url('../../../fonts/Roboto Bold/Roboto-Bold.eot') format('eot'),
  url('../../../fonts/Roboto Bold/Roboto-Bold.woff') format('woff'),
  url('../../../fonts/Roboto Bold/Roboto-Bold.otf') format('otf'),
  url('../../../fonts/Roboto Bold/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

  font-family: 'Raleway Bold';
  src: url('../../../fonts/Raleway-Bold.ttf'),
  url('../../../fonts/Raleway-Bold.ttf') format('truetype');
}