.footer {
  display: flex;
  background-color: #eeefea;
  font-family: 'Roboto', sans-serif;
  padding-left: 15px;
  @media (max-width: 960px) {
    padding: 0;
    flex-direction: column-reverse;
  }
  &__info {
    width: 50%;
    display: flex;
    @media (max-width: 960px) {
      width: 100%;
    }
  }
  &__wrapper {
    max-width: 585px;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    padding: 20px 30px 0 0;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    &:after {
      content: "tnk u";
      position: absolute;
      left: 0;
      bottom: -45px;
      color: $white;
      font-size: 190px;
      font-weight: 500;
      z-index: 1;
    }
    @media (max-width: 960px) {
      max-width: 100%;
      padding: 15px 15px 200px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__logo {
    width: 230px;
    margin-bottom: 60px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__contacts {
    width: 205px;
    margin-bottom: 60px;
    p {
      &:first-of-type {
        font-size: 22px;
        line-height: 1.5;
      }
      &:last-of-type {
        font-size: 28px;
      }
    }
  }
  &__btn-wrapper {
    width: 230px;
  }
  &__btn {
    width: 100%;
    height: 56px;
    background-color: $coral;
    color: $white;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
  }
  &__socials {
    width: 205px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    a {
      width: 54px;
      height: 54px;
      border: 2px solid $blue;
      color: $blue;
      font-size: 30px;
      text-align: center;
      line-height: 50px;
      border-radius: 50%;
      &:hover {
        color: $coral;
        border-color: $coral;
      }
    }
  }
  &__map {
    width: 50%;
    height: 330px;
    @media (max-width: 960px) {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}