.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-in-out;
    padding-top: 30px;
  &--sticky {
    position: fixed;
    padding-top: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: $headerBrown;
    z-index: 100;
  }
  &__wrapper {
    //padding-top: 50px;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 74px;
  }
  &__logo {
    a {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__nav {
    width: 380px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 16px;
    a {
      color: $white;
      width: 84px;
      height: 32px;
      text-align: center;
      padding-top: 3px;
      border: 1px solid transparent;
      border-radius: 20px;
      &:hover {
      border: 1px solid $white;
      border-radius: 20px;
      }
      &.active {
      border: 1px solid $white;
      border-radius: 20px;
      }
    }
  }
}

.header__nav-btn {
  border: none;
  border-radius: 3px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  background-color: transparent;
  outline: none;
}

.header__nav-btn:hover span {
  background-color: $green;
}

.header__nav-btn span {
  width: 30px;
  height: 4px;
  background-color: $white;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.header__nav-btn.is-active span:first-of-type {
  transform: rotate(45deg) translateY(11px) translateX(3px);
}

.header__nav-btn.is-active span:nth-of-type(2) {
  opacity: 0;
  transform: scale(0);
}

.header__nav-btn.is-active span:last-of-type {
  transform: rotate(-45deg) translateY(-10px) translateX(2px);
}

.header__nav.header__nav--show {
  display: block;
  width: 100%;
  padding-top: 20px;
}

.header__nav.header__nav--show a {
  display: block;
  text-align: center;
  padding: 5px 0;
  margin: 0 auto 10px;
}

.header__nav a:last-of-type {
  padding-right: 0;
}

.header__nav a:hover {
  //color: pink;
}

.header__nav a.active {
  //color: blue;
}

@media (max-width: 1000px) {
  .header {
    min-height: 100px;
    height: auto;
    padding: 20px 15px;
  }
  .header__nav {
    display: none;
  }
  .header__nav-btn {
    display: flex;
  }
  .header__wrapper {
    flex-wrap: wrap;
  }
}

.home {
  background: url("./../img/background.png") center no-repeat;
  width: 100%;
  height: 737px;
  color: $white;
  font-family: 'Open Sans', sans-serif;
  padding-top: 90px;
  &__text-wrapper {
    width: 660px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 737px;
  } 
  &__title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 40px;
    text-align: center;
  }
  &__subtitle {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 220px;
    max-width: 610px;
    text-align: center;
  }
  &__btn-next {
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    background: $green;
    outline: none;
    color: $white;
    padding-bottom: 4px;
    font-size: 28px;
  }
}
    
    
    
    
    
    
    
 
 
 
 
 
 
 
 
 /*@media (max-width: 767px) {
      margin-top: 30px;
      margin-left: 20px;
    }
    @media (max-width: 480px) {
      margin-top: 30px;
      margin-left: 20px;
    }
    @media (max-width: 320px) {
      margin-top: 30px;
      margin-left: 40px;
      margin-bottom: 20px;
    }*/
 
