.feature {
  width: 100%;
  min-height: 500px;
  padding-top: 55px;
  color: $black;
  &__wrapper {
    max-width: 100%;
    min-height: 500px;
    position: relative;
  }
  &__text {
    width: 270px;
    height: 500px;
  }
  &__subtitle {
     color: $coral;
     font-family: 'Segoe Script', sans-serif;
     font-size: 24px;
  }
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__description {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: $textGray;
    line-height: 26px;
    margin-bottom: 30px;
  }
  &__img {
    max-width: 300px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 3px;
    }
  }
  &__item {
    max-width: 300px;
    margin-right: 25px;
    height: 520px;

    &-wrap {
      display: flex;
      max-width: 1280px;
      justify-content: space-between;
      position: absolute;
      top: -160px;
      right: -150px;
    }
    &-title {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 700;
      height: 76px;
      padding-top: 24px;
      text-align: center;
      border-right: 2px solid $lightGray;
      border-bottom: 2px solid $lightGray;
    }
    &-info {
      display: flex;
      width: 100%;
      height: 52px;
      border-right: 2px solid $lightGray;
      border-bottom: 2px solid $lightGray;
      border-radius: 3px;
      align-items: baseline;
      justify-content: space-between;
      padding: 0 10px;
      padding-top: 12px;
    }
    &-btn {
      @include size (100px, 25px);
      @include button ($coral, $white);
      border-radius: 2px;
      border: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }
  }
  &__rating {
     font-size: 14px;
     font-weight: bold;
     font-family: 'Montserrat', sans-serif;
  }
  &__stars {
    width: 100px;
    display: flex;
    //color: $coral;
    //font-size: 40px;
    i {
      color: red;
      width: 30px;
      height: 30px;
      font-size: 20px;
      font-family: 'Ionicons';
    }
  }
  &__btn {
      @include size (170px, 40px);
      @include button ($coral, $white);
      border-radius: 5px;
      border: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
  }
}