.video {
  width: 100%;
  min-height: 1166px;
  background: url('./../img/Layer21.jpg') no-repeat;
  position: relative;
  z-index: 1;
  &__layer {
     position: absolute;
     content: "";
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background: rgba(24, 180, 248, .5);
     z-index: 2;
  }
}