
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*@media (max-width: 767px) {
    &:first-of-type {
      order: 2;
    }
    &:nth-of-type(2) {
      order: 3;
    }
    &:nth-of-type(4) {
      order: 4;
    }
    &:nth-of-type(5) {
      order: 5;
    }
  }*/
  