// @TODO: body должен быть одним из первых, после *

header {
    background: #ffffff;
    height: 175px;
    // @TODO: зачем обнулять маржин?
    margin-bottom: 0px;
    width: 800px;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 10px;
}
body {
    // @TODO: что за свойство такое?
    align: center;
    width: 800px;
    height: 100%;
    background-image: url("../img/Image.jpg");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-size: 20px;
}
.container {
    // @TODO: что за магическая точно величина ??
    height: 200.94px;
    background: #ffffff;
}
.photo {
    float: left;
    padding-left: 20px;
}
.contacts {
    float: left;
    font-size: 22px;
    padding-left: 70px;
}
main {
    background: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.name {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}
h1 {
    font-size: 40px;
    margin-bottom: 15px; 
}
.vacancy {
    font-size: 25px;
}