@font-face {
  font-family: 'Museo';
  src: url('../fonts/MuseoSansRounded-100.eot');
  src: url('../fonts/MuseoSansRounded-100.eot') format('eot'),
  url('../fonts/MuseoSansRounded-100.woff') format('woff'),
  url('../fonts/fontawesome-webfont.woff2') format('woff2'),
  url('../fonts/MuseoSansRounded-100.otf') format('otf'),
  url('../fonts/MuseoSansRounded-100.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
 }