/*@font-face {
   font-family: 'Aleo';
  src: url('../../../fonts/Aleo-Regular/aleo-regular-webfont.eot');
  src: url('../../../fonts/Aleo-Regular/aleo-regular-webfont.eot') format('eot'),
  url('../../../fonts/Aleo-Regular/aleo-regular-webfont.woff') format('woff'),
  url('../../../fonts/Aleo-Regular/aleo-regular-webfont.woff2') format('woff2'),
  url('../../../fonts/Aleo-Regular/Aleo-Regular.otf') format('otf'),
  url('../../../fonts/Aleo-Regular/aleo-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: 'Aleo';
  src: url('../../../fonts/Aleo-Regular/aleo-regular-webfont.eot');
  src: url('../../../fonts/Aleo-Regular/aleo-regular-webfont.eot') format('eot'),
  url('../../../fonts/Aleo-Regular/aleo-regular-webfont.woff') format('woff'),
  url('../../../fonts/Aleo-Regular/aleo-regular-webfont.woff2') format('woff2'),
  url('../../../fonts/Aleo-Regular/Aleo-Regular.otf') format('otf'),
  url('../../../fonts/Aleo-Regular/aleo-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}